In [11]:
import pandas as pd
import seaborn as sns
import os

In [4]:
n=int(input(""))

In [54]:
files = [f for f in os.listdir('.') if os.path.isfile(f)] #.remove('Plotter.ipynb')
files.remove('Plotter.ipynb')

In [55]:
#preparing df names
dfs=[]
for file in files:
    dfs.append('df_'+file.split('.')[0])
dfs

AttributeError: 'dict' object has no attribute 'append'

In [53]:
for i in range(len(files)):
    setattr(dfs,dfs[i],pd.read_csv(files[i]))

AttributeError: 'list' object has no attribute 'df_500_dec_nz'

In [48]:
df_500_dec_nz=pd.read_csv('500_dec_nz.csv')
df_500_dec_nz

     avg_wait_time  avg_turnaround_time  context_switches
0         0.000000          1997.000000                 1
1      1497.500000          3493.500000                 4
2      1330.666667          3325.000000                 3
3      2928.000000          4920.750000                 6
4      3910.600000          5901.800000                 6
5      4880.833333          6870.833333                 7
6      5603.714286          7592.571429                 8
7      6265.250000          8253.125000                 9
8      6720.333333          8707.222222                10
9      7117.500000          9103.500000                11
10     7473.909091          9458.909091                12
11     7777.916667          9762.000000                13
12     8042.461538         10025.692308                14
13     8337.928571         10320.357143                15
14     8558.733333         10540.400000                16
15     8765.562500         10746.375000                17
16     8991.882353         10971.882353                18
17     9163.888889         11143.111111                19
18     9617.789474         11596.105263                21
19     9956.750000         11934.150000                21
20    10595.476190         12571.857143                23
21    11124.727273         13100.045455                24
22    11496.608696         13470.782609                25
23    11736.291667         13709.375000                25
24    11973.640000         13945.560000                26
25    12199.076923         14169.769231                27
26    12417.777778         14387.259259                29
27    12602.892857         14571.178571                30
28    12786.310345         14753.448276                30
29    13206.300000         15172.266667                32
..             ...                  ...               ...
470   52285.104034         53701.278132               472
471   52471.127119         53886.044492               473
472   52651.505285         54065.162791               474
473   52826.329114         54238.725738               475
474   53005.303158         54416.442105               476
475   53193.882353         54603.760504               477
476   53374.949686         54783.570231               478
477   53553.707113         54961.073222               479
478   53733.546973         55139.659708               480
479   53924.637500         55329.497917               481
480   54106.548857         55510.153846               482
481   54287.101660         55689.450207               483
482   54472.049689         55873.140787               484
483   54664.041322         56063.871901               485
484   54847.931959         56246.505155               486
485   55032.695473         56430.008230               487
486   55216.248460         56612.297741               488
487   55410.725410         56805.514344               489
488   55600.040900         56993.572597               490
489   55784.475510         57176.746939               491
490   55968.655804         57359.670061               492
491   56163.733740         57553.489837               493
492   56356.042596         57744.541582               494
493   56541.275304         57928.518219               495
494   56728.365657         58114.355556               496
495   56928.489919         58313.229839               497
496   57118.696177         58502.185111               498
497   57306.540161         58688.777108               499
498   57496.498998         58877.482966               500
499   57697.938000         59077.666000               501

[500 rows x 3 columns]